<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>NSHealthShareUsageDescription</key>
	<string>This widget needs access to your health data to display calories burned</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>This widget needs access to your health data to display calories burned</string>
	<key>AppGroupIdentifier</key>
	<string>group.com.johncorser.fit.prefs</string>
</dict>
</plist>
